/.vs
/Results/*.csv
/Dev/*.exe
/Dev/dimacsVRP.pdb
/Dev/dimacsVRP.iobj
/Dev/dimacsVRP.ipdb
/Release
dimacsVRP.tlog
/dimacsVRP/x64
*.o
*.exe
*.out
*.obj
*.ilk
*.idb
*.pdb
*.tlog
.recipe
*.ipch
*.db
*.bin
*.log
*.lib
*.xml
*.pump



